<%= form_for @trip do |form| %>
  <%= form.label :country %><br>
  <%= form.text_field :country %>
  <br>
  <%= form.fields_for :itineraries do |f| %>
    <%= render 'itinerary_fields', f: f %>
    <br>
    <%= f.fields_for :destinations do |ff| %>
      <%= render 'destination_fields', ff: ff %>
    <% end %>
  <% end %>
  <br>
  <button type='submit'>
    <i class="icon save"></i>&nbsp;Save
  </button>
<% end %>
